
header.fallback
{ min-height: 5rem; 
  position: relative;  
  padding: 0px; 
  margin: 0; 
  background:$darkbase;

  &::after
  {content: "";
  display: table;
  clear: both;
   }

}

/*=============================================================================================*/

h1
{ color:$white;
  cursor: pointer;
  line-height: 1;

  &:hover{
    color:$highlite;
  }


}
	




